{% extends "admin_base.html" %}

{% block content %}


<h1 class="text-light mb-4">Dashboard</h1>


<div class="row mb-4 g-4">
  <div class="col-md-4">
    <div class="bg-body border rounded shadow-sm text-center py-4 px-3 stat-card">
      <h2 class="text-primary mb-1 fw-bold" id="total_count">{{total_count}}</h2>
      <p class="text-muted mb-0">Total Applications</p>
    </div>
  </div>

  <div class="col-md-4">
    <div class="bg-body border rounded shadow text-center py-4 px-3 stat-card">
      <h2 class="text-primary mb-1 fw-bold" id="pending_count">{{pending_count}}</h2>
      <p class="text-muted mb-0">Pending Applications</p>
    </div>
  </div>

  <div class="col-md-4">
    <div class="bg-body border rounded shadow text-center py-4 px-3 stat-card">
      <h2 class="text-primary mb-1 fw-bold">{{total_count - pending_count}}</h2>
      <p class="text-muted mb-0">Approved Applications</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="card bg-body rounded shadow">
      <div class="card-header text-primary fw-bold">
        Recent Applications
      </div>
      <div class="table-responsive">
        <table class="table align-middle table-hover border rounded overflow-hidden">
          <thead class="table-light">
            <tr>
              <th scope="col" style="width: 7%">#</th>
              <th scope="col" style="width: 50%">Full Name</th>
              <th scope="col" style="width: 30%">TIN</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
            {% for app in recent_applications %}
            <tr>
              <th>{{app[0]}}</th>
              <td>{{app[1]}}</td>
              <td>{{app[2]}}</td>
              <td>
                {% if app[3] %}
                <span class="badge text-bg-success">Approved</span>
                {% else %}
                <span class="badge text-bg-warning">Pending</span>
                {% endif %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>

{% endblock %}

{% block script %}
<script src="/dashboard.js">
</script>
{% endblock %}